@import "base/base";
@import "iconfont/template";
@import "node_modules/reset-css/sass/reset";


html{
  height: calc( 100% - 2rem);
  border: 1rem solid $color-main;
}

body{
  padding: 2rem;

  .title{
    $delay: .3s;
    padding: .5rem 1rem .5rem 6rem;
    position: relative;
    display: inline-block;
    color: white;
    background: $color-main;
    font-weight: bold;
    font-size: 4rem;
    z-index: 2;
    cursor: pointer;
    @include transitionBounce(width, background, padding, box-shadow);
    transition-delay: $delay,$delay,$delay,0s;

    &:before{
      position: absolute;
      z-index: 2;
      left: 1rem;
    }

    &:hover{
      background: $color-main-dark;
      box-shadow: 1rem 1rem 0 0 $color-secondary;
      padding: 1rem 6rem 1rem 8rem;
      transition-delay: 0s,0s,0s,$delay;
    }
  }
}
